<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.wikify</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>18D06B34-2BD7-45F2-8A25-3E0981A1D8EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0318C290-4A41-4712-804E-C6F1E97EEEF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E61BB93-10AF-4DC4-91BC-FECD33FB124A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2034CE83-E897-4C5A-9AA8-C455AC73FA78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F5E2502-7B96-4FAD-8250-E76B00EB8509</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68E407F6-16C7-4052-88E3-A61887042CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7281644D-C44E-484A-86C8-A379B2D6AE41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E67CD1F4-6183-48A4-9CD1-267CCEB0D9BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7757919E-0E78-470D-8E44-9CDC1FF9ACCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0318C290-4A41-4712-804E-C6F1E97EEEF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96DE2091-A6FE-4FB3-90BB-E629C3CB4F45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7281644D-C44E-484A-86C8-A379B2D6AE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC95C048-A40A-4BF9-9FCE-CFEF13EC82FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7281644D-C44E-484A-86C8-A379B2D6AE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</key>
		<array/>
		<key>BE198467-57E0-4B8D-B5A3-E1AA9D730E1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C25FA804-D36C-4C28-AA4E-F9449A3F8E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F30D7BC8-F341-46A6-883E-038876A595D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2034CE83-E897-4C5A-9AA8-C455AC73FA78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Your Evernote Wiki-Helper (v. 2.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EN-Wikify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E67CD1F4-6183-48A4-9CD1-267CCEB0D9BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AC95C048-A40A-4BF9-9FCE-CFEF13EC82FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python md2en.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7281644D-C44E-484A-86C8-A379B2D6AE41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mden</string>
				<key>text</key>
				<string>Send selected text to Evernote?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>96DE2091-A6FE-4FB3-90BB-E629C3CB4F45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>68E407F6-16C7-4052-88E3-A61887042CAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript en2md.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>enmd</string>
				<key>text</key>
				<string>Convert Evernote note to Markdown?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F5E2502-7B96-4FAD-8250-E76B00EB8509</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>28</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>8</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7757919E-0E78-470D-8E44-9CDC1FF9ACCF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ensel2note.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0318C290-4A41-4712-804E-C6F1E97EEEF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ensel</string>
				<key>text</key>
				<string>Create new note from current selection</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18D06B34-2BD7-45F2-8A25-3E0981A1D8EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript wikify_sel.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2034CE83-E897-4C5A-9AA8-C455AC73FA78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F30D7BC8-F341-46A6-883E-038876A595D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wfy</string>
				<key>subtext</key>
				<string>Link to pre-existing Evernote notes</string>
				<key>text</key>
				<string>Wikify selected Evernote notes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E61BB93-10AF-4DC4-91BC-FECD33FB124A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript test.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C25FA804-D36C-4C28-AA4E-F9449A3F8E82</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wfy:install</string>
				<key>text</key>
				<string>Install Satimage Package</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE198467-57E0-4B8D-B5A3-E1AA9D730E1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0318C290-4A41-4712-804E-C6F1E97EEEF8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>18D06B34-2BD7-45F2-8A25-3E0981A1D8EE</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2034CE83-E897-4C5A-9AA8-C455AC73FA78</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>4E61BB93-10AF-4DC4-91BC-FECD33FB124A</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>4F5E2502-7B96-4FAD-8250-E76B00EB8509</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>68E407F6-16C7-4052-88E3-A61887042CAA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7281644D-C44E-484A-86C8-A379B2D6AE41</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7757919E-0E78-470D-8E44-9CDC1FF9ACCF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>96DE2091-A6FE-4FB3-90BB-E629C3CB4F45</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AC95C048-A40A-4BF9-9FCE-CFEF13EC82FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BE198467-57E0-4B8D-B5A3-E1AA9D730E1D</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>C25FA804-D36C-4C28-AA4E-F9449A3F8E82</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>E67CD1F4-6183-48A4-9CD1-267CCEB0D9BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F30D7BC8-F341-46A6-883E-038876A595D8</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
