<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.wikify</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4F5E2502-7B96-4FAD-8250-E76B00EB8509</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68E407F6-16C7-4052-88E3-A61887042CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7281644D-C44E-484A-86C8-A379B2D6AE41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E67CD1F4-6183-48A4-9CD1-267CCEB0D9BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96DE2091-A6FE-4FB3-90BB-E629C3CB4F45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7281644D-C44E-484A-86C8-A379B2D6AE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AB08C91F-49C4-4C8B-9F4F-B72E3E2836C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCEDF883-A20C-4D34-928C-7971AE239730</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC95C048-A40A-4BF9-9FCE-CFEF13EC82FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7281644D-C44E-484A-86C8-A379B2D6AE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AD123E61-124D-486E-9563-A59A5EAA4654</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>831CF576-B428-490A-9A27-FC433C157C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</key>
		<array/>
		<key>FCEDF883-A20C-4D34-928C-7971AE239730</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Your Evernote Wiki-Helper (v. 1.2)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EN-Wikify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E67CD1F4-6183-48A4-9CD1-267CCEB0D9BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AC95C048-A40A-4BF9-9FCE-CFEF13EC82FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript md2en.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7281644D-C44E-484A-86C8-A379B2D6AE41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mden</string>
				<key>text</key>
				<string>Send selected text to Evernote?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>96DE2091-A6FE-4FB3-90BB-E629C3CB4F45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>68E407F6-16C7-4052-88E3-A61887042CAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript en2md.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>enmd</string>
				<key>text</key>
				<string>Convert Evernote note to Markdown?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F5E2502-7B96-4FAD-8250-E76B00EB8509</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>en:t</string>
				<key>script</key>
				<string>python test.py "workflow:datasize"</string>
				<key>title</key>
				<string>Testing</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1C1A2244-39A1-46D7-AA70-70AC4E0A7E44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD123E61-124D-486E-9563-A59A5EAA4654</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python en_searchlink.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>831CF576-B428-490A-9A27-FC433C157C89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python text_expans.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCEDF883-A20C-4D34-928C-7971AE239730</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB08C91F-49C4-4C8B-9F4F-B72E3E2836C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C1A2244-39A1-46D7-AA70-70AC4E0A7E44</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>4F5E2502-7B96-4FAD-8250-E76B00EB8509</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>68E407F6-16C7-4052-88E3-A61887042CAA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7281644D-C44E-484A-86C8-A379B2D6AE41</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>831CF576-B428-490A-9A27-FC433C157C89</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>96DE2091-A6FE-4FB3-90BB-E629C3CB4F45</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AB08C91F-49C4-4C8B-9F4F-B72E3E2836C4</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>AC95C048-A40A-4BF9-9FCE-CFEF13EC82FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AD123E61-124D-486E-9563-A59A5EAA4654</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>BC310BF1-1A26-40D5-92CE-0CC8B8E68E5F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E67CD1F4-6183-48A4-9CD1-267CCEB0D9BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FCEDF883-A20C-4D34-928C-7971AE239730</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
